In [1]:
import gensim
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
# STEP 1: load Note datasets
df_notes = pd.read_csv('data/filtered.csv')

In [3]:
df_notes.head()

,subject_id,hadm_id,icustay_id,expire_flag,text
0,291,125726,275109,0,Briefly this is a 72 year old woman with prior...
1,291,125726,275109,0,Briefly this is a 72 year old woman with prior...
2,422,117029,299666,0,"Pt is a 57 y/p male with h/o afib, LE edema, w..."
3,671,126769,246119,0,"Pt admitted from ED at 0530, upon which he was..."
4,698,171990,229997,0,89 year old patient admitted from the EW with ...

In [4]:
messages=df_notes[:,expire_flag:text]

NameError: name 'expire_flag' is not defined